<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%- include('partials/head'); %>
</head>
<body>
  <%- include('partials/navigation'); %>

  <main class="vh-100 container p-2 text-center d-flex justify-content-center aling-items-center">
    <section>
      <h1 class="display-1">Acerca de mi</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex quasi vel eveniet vero doloremque veniam repellat, eius omnis harum dolorum commodi illo obcaecati, maiores nihil quod error alias dignissimos neque tempora necessitatibus. Facere quisquam excepturi at doloribus quibusdam nobis obcaecati nam praesentium, aspernatur provident placeat inventore possimus dicta illo eveniet voluptate architecto quaerat, et tenetur voluptas. Numquam eos autem dolor molestias aut praesentium exercitationem nulla, inventore temporibus quas veniam nisi voluptate commodi dolorem illo debitis cupiditate dolore, itaque obcaecati maxime. Eligendi praesentium quisquam nobis, animi voluptas enim recusandae facilis sed tempore corrupti aut vel debitis hic sit quis velit sapiente eveniet, asperiores maiores consequuntur saepe. Itaque facilis animi non, fuga illum laboriosam qui voluptas modi, amet ad quasi? Beatae voluptatum maxime vel eaque dignissimos. Asperiores mollitia voluptate, ab tenetur sapiente amet enim saepe at officiis minima nostrum doloremque nobis esse eius! Rerum, necessitatibus reiciendis vero minima eius deleniti totam provident numquam magnam, nesciunt voluptas iusto quis, labore optio perferendis consequuntur. Voluptates facere necessitatibus corporis dolor numquam, repellat neque officia repudiandae. Natus accusamus porro amet quae dignissimos! Rem atque quia distinctio minus itaque magni officiis blanditiis placeat sint earum qui voluptate, autem ut tempore dolorem nulla nemo dolore quos voluptatum necessitatibus aspernatur! Nemo deserunt voluptate nihil, officiis dolor fugiat omnis obcaecati vero, provident voluptates maiores doloremque. Atque quis accusamus architecto quos est quas sapiente rem quisquam eaque eligendi numquam odit, error natus nostrum incidunt iste neque, tempora laboriosam nobis at. Esse velit asperiores aliquid vel. Voluptas quaerat rem, iste aspernatur, quod alias architecto explicabo vero officia blanditiis voluptatum ad corporis quia inventore ipsum optio molestias repellat magnam maxime facilis sunt? Explicabo aliquam, obcaecati a nesciunt qui veniam deserunt dicta doloremque, mollitia id accusantium ut ex totam, accusamus ipsa laudantium? At enim rerum deserunt quisquam libero perspiciatis beatae maxime distinctio aut alias!</p>
    </section>
  </main>
</body>
</html>